encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/litellm-age-key.txt"
    recipient = "age1zrw5hefdnz0ynwqneh35ffutala7knphm7gqag8suru3ujsv7ahsjjk72f"

[data]
    name = "杨顺翔"
    email = "yangsx95@qq.com"
    maven_repo_dir = ".m2/repository"
