[data]
    name = "杨顺翔"
    email = "yangsx95@qq.com"
    maven_repo_dir = ".m2/repository"

    # Proxy configuration（WSL2 mirrored 模式下 127.0.0.1 即 Windows 主机）
    proxy_url = "http://127.0.0.1:7890"
