# ~/.zshrc
# oh-my-zsh 配置文件

# -------------- 基础配置 --------------

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="ys"

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in $ZSH/themes/
# If set to an empty array, this variable will have no effect.
# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment one of the following lines to change the auto-update behavior
# zstyle ':omz:update' mode disabled  # disable automatic updates
# zstyle ':omz:update' mode auto      # update automatically without asking
# zstyle ':omz:update' mode reminder  # just remind me to update when it's time

# Uncomment the following line to change how often to auto-update (in days).
# zstyle ':omz:update' frequency 13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# -------------- 插件配置 --------------

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
    zsh-syntax-highlighting
    zsh-autosuggestions
    git
    git-extras
    colored-man-pages
    colorize
    copypath
    copyfile
    docker
    docker-compose
    jsontools
    node
    npm
    nvm
    python
    pip
    pyenv
    rust
    vscode
    web-search
)

# -------------- 环境变量 --------------

# 编辑器设置
export EDITOR='vim'
export VISUAL='vim'

# 语言设置
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# 路径设置
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"
export PATH="/usr/local/bin:/usr/local/sbin:$PATH"

# 加载代理配置（可用 DOTFILES_USE_PROXY=0 或 ~/.config/dotfiles/no-proxy 禁用）
if [ -f ~/.proxyrc ]; then
    source ~/.proxyrc
fi

# -------------- 常用别名 --------------

# 基础命令别名
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# 安全操作
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# 目录操作
alias mkdir='mkdir -p'
alias tree='find . -type f | sort | tree --fromfile'

# 系统相关
if command -v htop &>/dev/null; then alias top='htop'; fi
alias free='free -h'
alias df='df -h'
alias du='du -h'

# Git 别名
alias g='git'
alias ga='git add'
alias gc='git commit'
alias gcm='git commit -m'
alias gp='git push'
alias gpu='git push origin $(git branch --show-current)'
alias gl='git log'
alias glog='git log --oneline --graph --decorate'
alias gs='git status'
alias gb='git branch'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gm='git merge'
alias gr='git reset'
alias gst='git stash'
alias gsp='git stash pop'

# 网络相关
alias ping='ping -c 5'
alias fastping='ping -c 100 -s.2'
alias ip='ip -c'
if command -v ifconfig &>/dev/null; then alias ifconfig='ifconfig -a'; fi

# 开发相关
alias py='python3'
alias pip='pip3'
alias node='node --no-warnings'
alias npm='npm --no-fund'
alias yarn='yarn --no-default-rc'
alias pnpm='pnpm --no-fund'

# -------------- 其他设置 --------------

# 启用 ls 颜色（Linux/WSL 使用 --color=auto；macOS 使用 -G）
{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -G'
{{- else }}
alias ls='ls --color=auto'
{{- end }}

# 启用自动 cd
setopt autocd

# 启用通配符扩展
setopt extendedglob

# 启用历史记录扩展
setopt histappend

# -------------- 加载配置 --------------

# 加载 oh-my-zsh
if [ -f "$ZSH/oh-my-zsh.sh" ]; then
    source "$ZSH/oh-my-zsh.sh"
fi

if command -v mise &>/dev/null; then
    eval "$(mise activate zsh)"
fi

# 加载本地配置
if [ -f ~/.zshrc.local ]; then
    source ~/.zshrc.local
fi

# 加载工作配置
if [ -f ~/.zshrc.work ]; then
    source ~/.zshrc.work
fi

# -------------- 结束配置 --------------
