<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.yangshunxiang.sing-box</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ .chezmoi.homeDir }}/.local/libexec/sing-box-start-when-network-ready</string>
    <string>{{ .chezmoi.homeDir }}/.local/share/sing-box/private/10-outbounds.json</string>
    <string>/opt/homebrew/bin/sing-box</string>
    <string>run</string>
    <string>-c</string>
    <string>{{ .chezmoi.homeDir }}/.config/sing-box/config.d/00-base.json</string>
    <string>-c</string>
    <string>{{ .chezmoi.homeDir }}/.local/share/sing-box/private/10-outbounds.json</string>
    <string>-c</string>
    <string>{{ .chezmoi.homeDir }}/.local/share/sing-box/generated/20-route.json</string>
    <string>-c</string>
    <string>{{ .chezmoi.homeDir }}/.local/share/sing-box/generated/30-safe-search.json</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>{{ .chezmoi.homeDir }}/.local/share/sing-box/sing-box.log</string>
  <key>StandardErrorPath</key>
  <string>{{ .chezmoi.homeDir }}/.local/share/sing-box/sing-box.log</string>
</dict>
</plist>
