{
  "log": {
    "level": "warn"
  },
  "dns": {
    "servers": [
      {
{{ if eq .chezmoi.os "darwin" }}        "type": "udp",
        "tag": "dns-direct",
        "server": "127.0.0.1"
{{ else }}        "type": "local",
        "tag": "dns-direct"
{{ end }}      }
    ]
  },
  "route": {
    "rules": [
{{ if eq .chezmoi.os "darwin" }}      {
        "process_name": "dnscrypt-proxy",
        "outbound": "direct"
      },
{{ end }}      {
        "network": [
          "tcp",
          "udp"
        ],
        "port": 53,
        "action": "hijack-dns"
      },
      {
        "network": [
          "tcp",
          "udp"
        ],
        "port": 853,
        "action": "reject"
      },
      {
        "action": "sniff"
      }
    ]
  },
  "inbounds": [
    {
      "type": "tun",
      "tag": "tun-in",
      "auto_route": true,
      "strict_route": true,
      "endpoint_independent_nat": true,
      "address": [
        "198.18.0.1/30",
        "fdfe:dcba:9876::1/126"
      ]
    }
  ]
}
